.cashier-main-title{
    text-align: center;
    font-size: 50px;
    margin-top: 90px;
    font-weight: bold;
}

.dropdown-container{

    margin-top: 30px;
    width: 40%;
    padding-left: 10px;

}

.box-container{
    float: left;
    box-shadow: 10px;
    padding: 10px;
}

.items-container-mad{
    float: left;
    width: 600px;
    box-sizing: border-box;
    padding-right: 20px;
    box-shadow: 10px;
    align-self: left;
    border-radius: 10px;
    box-shadow: 3px 3px 20px 5px rgba(45, 45, 45, 0.3);
    background-image: linear-gradient(to bottom, #ffffff, #efeeec);

}

.selected-container{
    float: left;
    width: 300px;
    box-shadow: 10px;
    padding: 10px;
}

.sub-heading{
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
}

.dialog-btn{
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 3px;
    padding-top: 3px;
    margin: 2px;
    color: white;
}

.showdialog-container{
    display: right;
    width: 50%;
    padding: 10px;
    align-items: center;
    border-radius: 10px;
    box-shadow: 3px 3px 20px 5px rgba(45, 45, 45, 0.3);
}

.order-table{
    float: right;
    width: 50%;
    padding-right: 30px;

}

.rent{
    margin: 10px;
}
.rentcont{
    margin: 10px;
}

.sales-summary-report-button-container{
    float: right;
}

.sales-summary-report-button{
    color: #ffffff;
}

button.sales-summary-report-button{
    background-color: rgb(36, 36, 255);
    color: #ffffff;
    padding: 10px;
    margin: 10px;
    border: none;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s;
}

button.sales-summary-report-button:hover{
    background-color: rgb(3, 3, 197);
    color: white;
}

