@media print {
    .no-print {
      display: none;
    }
  }

.sales-card-title{
  font-size:40px;
  font-weight: bold;
  color: #000000;
  margin: 10px;
  text-align: center;
  margin-bottom: 50px;
}  

.sales-container{
  height: 100%;
  width: 75%;
  align-self: center;
  margin: 50px;
  padding-top: 50px;
  display: grid;
  padding-left: 50px;

}

.sales-graph-card-body{
  width: 100%;
  background-color: white;
  border-radius: 20px;
  margin-bottom: 50px;

}

.sales-graph-container{
  width: 80%;
  display: grid;
  place-items: center;

}

.sales-graph-heading{
  font-size: 20px;
  font-weight: bold;
  color: #000000;
  margin: 10px;
  text-align: center;
}

.sales-card-body{
  width: 100%;
  background-color: white;
  border-radius: 20px;
  margin-bottom: 50px;
}

button.sales-btn{
  background-color: rgb(36, 36, 255);
  width: 50%;
  float:left;
  color: #ffffff;
  padding: 10px;
  margin-left: 250px;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  font-weight: bold;

}